openapi: 3.1.0
info:
  title: CTA (Consorcio de Transportes de Asturias) API
  description: |
    # 🚌 CTA API - Документация

    API для получения информации о метропольных автобусах Астурии в реальном времени.

    ## 📊 Возможности API

    Этот API предоставляет данные о:
    - ✅ **Остановках** с GPS-координатами (WGS84)
    - ✅ **Маршрутах** и направлениях движения
    - ✅ **Прогнозах прибытия** автобусов на остановки
    - ✅ **Real-time GPS-координатах** автобусов в движении с телеметрией
    - ✅ **Расписаниях** движения
    - ✅ **Транспортных картах** и пополнении

    ## ⏱️ Интервалы обновления (Polling Intervals)

    API использует разные интервалы обновления для разных типов данных:

    ### GPS-координаты автобусов
    - **Интервал**: 60 секунд (получается из `/Coordinates/GapTimeRefresh`)
    - **Эндпоинты**: `/Coordinates/VehicleCoordinates/{id}`, `/Coordinates/VehiclesCoordinates/{id}`
    - **Рекомендация**: НЕ запрашивать чаще 60 секунд

    ### Прогнозы прибытия
    - **Динамический интервал** в зависимости от времени до прибытия:
      - Автобус далеко (>10 мин): **60 секунд**
      - Автобус близко (2-10 мин): **30 секунд**
      - Автобус очень близко (<2 мин): **15 секунд**
    - **Эндпоинт**: `/StopsFis/{id}/{minutes}/arrivalEstimates`

    ### Статические данные
    - **Интервал**: При загрузке экрана или по запросу
    - **Эндпоинты**: `/StopsFis`, `/Itineraries`, `/Stops`
    - **Рекомендация**: Кешировать на 24 часа

    ## 🔧 Технический стек

    Официальное приложение CTA Usuario использует:
    - **HTTP-клиент**: OkHttp с Firebase Performance мониторингом
    - **JSON-парсинг**: Gson с аннотациями `@SerializedName`
    - **Фоновые обновления**: WorkManager (Android)

    ## 🚦 Rate Limiting

    Рекомендуемые лимиты для предотвращения перегрузки сервера:

    - **GPS-координаты**: Не чаще 60 секунд на vehicleId
    - **Прогнозы прибытия**: Не чаще 15 секунд на stopId
    - **Параллельные запросы**: Не более 5 одновременно
    - **Глобальный лимит**: 60 запросов в минуту на IP (рекомендуется)

    ## 💡 Best Practices

    ### 1. Адаптивный polling
    ```typescript
    function getUpdateInterval(minutesAway: number): number {
      if (minutesAway < 2) return 15_000;   // 15 сек
      if (minutesAway < 10) return 30_000;  // 30 сек
      return 60_000;                         // 60 сек
    }
    ```

    ### 2. Остановка при неактивности
    - Останавливайте polling через 5 минут неактивности пользователя
    - Возобновляйте при активности (клик, скролл)

    ### 3. Exponential Backoff при ошибках
    - При ошибке увеличивайте интервал: 1s → 2s → 4s → 8s → max 60s
    - Сбрасывайте счётчик ошибок при успешном запросе

    ### 4. Дедупликация запросов
    - Не отправляйте повторные запросы, пока предыдущий не завершён
    - Используйте debounce для пользовательских действий

    ## 📱 Режимы работы

    **Активный режим** (приложение открыто):
    - GPS-координаты: каждые 60 секунд
    - Прогнозы прибытия: каждые 15-60 секунд (динамически)

    **Фоновый режим** (приложение свёрнуто):
    - GPS-координаты: НЕ обновляются
    - Уведомления: только через push от сервера
    - WorkManager: обновления каждые 15-30 минут (Android)

    ## ⚠️ Важные замечания

    1. Это **неофициальная документация**, полученная путём реверс-инжиниринга APK
    2. API может измениться без предупреждения
    3. Некоторые эндпоинты могут требовать аутентификации
    4. Уважайте rate limits - не перегружайте сервер
    5. VehicleId можно получить только через `/StopsFis/{id}/{minutes}/arrivalEstimates`

  version: 1.0.0
  contact:
    name: CTA API Support
    url: https://www.consorcioasturias.org
  license:
    name: Unofficial Documentation (Reverse Engineered)
    url: https://github.com/

servers:
  - url: https://www.consorcioasturias.org/appcta/api
    description: Production server

tags:
  - name: Stops
    description: Операции с остановками
  - name: Itineraries
    description: Маршруты и направления
  - name: Coordinates
    description: GPS-координаты автобусов
  - name: Cards
    description: Транспортные карты
  - name: Recharge
    description: Пополнение карт
  - name: Rates
    description: Тарифы
  - name: Auth
    description: Аутентификация

paths:
  # ============ STOPS ============
  /StopsFis/{longitude}/{latitude}/{radius}:
    get:
      tags: [Stops]
      summary: Получить остановки в радиусе
      description: Возвращает список остановок в указанном радиусе от координаты
      operationId: getStopsInRadius
      parameters:
        - name: longitude
          in: path
          required: true
          description: Долгота (WGS84)
          schema:
            type: number
            format: double
            example: -5.8447876
        - name: latitude
          in: path
          required: true
          description: Широта (WGS84)
          schema:
            type: number
            format: double
            example: 43.3622222
        - name: radius
          in: path
          required: true
          description: Радиус поиска в метрах
          schema:
            type: integer
            minimum: 1
            maximum: 10000
            example: 1000
      responses:
        '200':
          description: Список остановок
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Stop'

  /StopsFis/{id}/itineraries:
    get:
      tags: [Stops]
      summary: Получить маршруты для остановки
      description: Возвращает список всех маршрутов, проходящих через эту остановку
      operationId: getStopItineraries
      parameters:
        - name: id
          in: path
          required: true
          description: ID остановки
          schema:
            type: integer
            example: 3614
      responses:
        '200':
          description: Список маршрутов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StopItinerary'

  /StopsFis/{id}/{minutes}/arrivalEstimates:
    get:
      tags: [Stops]
      summary: Прогноз прибытия автобусов
      description: |
        Возвращает прогноз прибытия автобусов на остановку в ближайшие N минут.

        ## 📊 Данные

        Для каждого автобуса возвращается:
        - **vehicleId** - ID автобуса для получения GPS-координат
        - **minutes** - время до прибытия в минутах (может быть null)
        - **lineDesc** - номер маршрута (например, "H")
        - **directionDesc** - направление движения
        - **itineraryId** - ID маршрута для получения всех автобусов на линии

        ## ⏱️ Динамический Polling

        Рекомендуется использовать адаптивный интервал в зависимости от времени до прибытия:

        - **Автобус далеко** (>10 мин): обновлять каждые **60 секунд**
        - **Автобус близко** (2-10 мин): обновлять каждые **30 секунд**
        - **Автобус очень близко** (<2 мин): обновлять каждые **15 секунд**

        ### Пример реализации:

        ```typescript
        function getUpdateInterval(minutesAway: number): number {
          if (minutesAway < 2) return 15_000;   // 15 сек
          if (minutesAway < 10) return 30_000;  // 30 сек
          return 60_000;                         // 60 сек
        }
        ```

        ## 🔑 Получение VehicleId

        Это единственный эндпоинт, который возвращает **vehicleId**.
        Используйте полученный vehicleId для запроса GPS-координат:

        ```
        1. GET /StopsFis/{stopId}/30/arrivalEstimates
           → Получаем vehicleId: 12345

        2. GET /Coordinates/VehicleCoordinates/12345
           → Получаем GPS-координаты автобуса
        ```

        **⚠️ Важно**: Если vehicleId = 0, то GPS-данные для этого автобуса недоступны.

        ## 📱 Использование в приложении

        Официальное приложение использует этот эндпоинт для:
        - Отображения списка прибывающих автобусов на остановке
        - Получения vehicleId для отслеживания на карте
        - Динамического обновления времени прибытия
      operationId: getArrivalEstimates
      x-dynamic-polling: true
      x-polling-intervals:
        far: 60
        medium: 30
        close: 15
      parameters:
        - name: id
          in: path
          required: true
          description: ID остановки
          schema:
            type: integer
            example: 3614
        - name: minutes
          in: path
          required: true
          description: Временное окно прогноза в минутах (рекомендуется 30-60)
          schema:
            type: integer
            minimum: 1
            maximum: 120
            example: 30
      responses:
        '200':
          description: Список прогнозов прибытия
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArrivalEstimate'

  /Stops/stops/{codName}:
    get:
      tags: [Stops]
      summary: Получить остановку по коду
      description: Возвращает информацию об остановке по её коду/названию
      operationId: getStopByCode
      parameters:
        - name: codName
          in: path
          required: true
          description: Код или название остановки
          schema:
            type: string
            example: "CTA03614"
      responses:
        '200':
          description: Информация об остановке
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stop'

  # ============ ITINERARIES ============
  /Itineraries/{id}/stopitineraries:
    get:
      tags: [Itineraries]
      summary: Получить остановки маршрута
      description: Возвращает список всех остановок на маршруте
      operationId: getItineraryStops
      parameters:
        - name: id
          in: path
          required: true
          description: ID маршрута (itinerary)
          schema:
            type: integer
            example: 3581
      responses:
        '200':
          description: Список остановок маршрута
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ItineraryStop'

  /Itineraries/{id}/{vehicleId}/stopitineraries:
    get:
      tags: [Itineraries]
      summary: Получить остановки для конкретного автобуса
      description: Возвращает остановки маршрута для конкретного автобуса
      operationId: getVehicleItineraryStops
      parameters:
        - name: id
          in: path
          required: true
          description: ID маршрута
          schema:
            type: integer
            example: 3581
        - name: vehicleId
          in: path
          required: true
          description: ID автобуса
          schema:
            type: integer
            example: 12345
      responses:
        '200':
          description: Список остановок для автобуса
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ItineraryStop'

  /StopsItinerary/{id}/{date}/timetables:
    get:
      tags: [Itineraries]
      summary: Получить расписание
      description: Возвращает расписание для маршрута на указанную дату
      operationId: getItineraryTimetable
      parameters:
        - name: id
          in: path
          required: true
          description: ID маршрута
          schema:
            type: integer
            example: 3581
        - name: date
          in: path
          required: true
          description: Дата в формате YYYY-MM-DD
          schema:
            type: string
            format: date
            example: "2024-12-16"
      responses:
        '200':
          description: Расписание
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Timetable'

  # ============ COORDINATES (GPS) ============
  /Coordinates/GapTimeRefresh:
    get:
      tags: [Coordinates]
      summary: Интервал обновления координат
      description: |
        Возвращает рекомендуемый интервал обновления GPS-координат в секундах.

        **Возвращаемое значение**: 60 (секунд)

        Используйте это значение как минимальный интервал между запросами к эндпоинтам:
        - `/Coordinates/VehicleCoordinates/{id}`
        - `/Coordinates/VehiclesCoordinates/{id}`

        **⚠️ Важно**: Не запрашивайте GPS-координаты чаще, чем указано в этом эндпоинте!
      operationId: getRefreshInterval
      responses:
        '200':
          description: Интервал в секундах
          content:
            application/json:
              schema:
                type: integer
                example: 60
                description: Минимальный интервал между запросами GPS-координат в секундах

  /Coordinates/coordinates/{id}:
    get:
      tags: [Coordinates]
      summary: Получить координаты объекта
      description: Возвращает GPS-координаты для указанного ID
      operationId: getCoordinates
      parameters:
        - name: id
          in: path
          required: true
          description: ID объекта
          schema:
            type: integer
            example: 12345
      responses:
        '200':
          description: GPS-координаты
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleCoordinates'

  /Coordinates/VehicleCoordinates/{id}:
    get:
      tags: [Coordinates]
      summary: Получить координаты автобуса
      description: |
        Возвращает текущие GPS-координаты конкретного автобуса в реальном времени.

        ## 📍 Данные

        Эндпоинт возвращает:
        - GPS-координаты (latitude, longitude) в формате WGS84
        - Скорость движения в м/с
        - Направление движения (bearing) и курс (heading) в градусах
        - Метрики точности для всех параметров

        ## ⏱️ Polling

        - **Интервал обновления**: 60 секунд (см. `/Coordinates/GapTimeRefresh`)
        - **Рекомендация**: НЕ запрашивать чаще 60 секунд
        - **Rate limit**: Не более 1 запроса в минуту на один vehicleId

        ## 🔍 Как получить vehicleId?

        VehicleId можно получить из эндпоинта `/StopsFis/{id}/{minutes}/arrivalEstimates`
        в поле `vehicleId` объекта прогноза прибытия.

        **⚠️ Важно**: Не все автобусы передают GPS-координаты. Если vehicleId = 0
        в прогнозе прибытия, значит для этого автобуса GPS-данные недоступны.

        ## 📱 Использование в приложении

        Официальное приложение CTA Usuario использует этот эндпоинт для:
        - Отображения автобуса на карте в реальном времени
        - Анимации движения маркера с поворотом (используя bearing)
        - Расчёта времени прибытия на основе скорости
      operationId: getVehicleCoordinates
      x-polling-interval: 60
      x-rate-limit: 1 per minute per vehicleId
      parameters:
        - name: id
          in: path
          required: true
          description: ID автобуса (vehicleId из arrival estimates)
          schema:
            type: integer
            example: 12345
      responses:
        '200':
          description: GPS-координаты автобуса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleCoordinates'
              examples:
                moving_bus:
                  summary: Автобус в движении
                  value:
                    vehicleId: 12345
                    latitude: 43.3622222
                    longitude: -5.8447876
                    timestamp: "2024-12-16T15:30:00Z"
                    speed: 8.33
                    bearing: 180.0
                    headingDegrees: 180.0
                    speedAccuracyMetersPerSecond: 0.5
                    bearingAccuracyDegrees: 15.0
                    headingErrorDegrees: 10.0
                stopped_bus:
                  summary: Автобус на остановке
                  value:
                    vehicleId: 12346
                    latitude: 43.3640000
                    longitude: -5.8450000
                    timestamp: "2024-12-16T15:31:00Z"
                    speed: 0.0
                    bearing: 90.0
                    headingDegrees: 90.0
                    speedAccuracyMetersPerSecond: 0.1
                    bearingAccuracyDegrees: 30.0
                    headingErrorDegrees: 5.0
        '404':
          description: Автобус не найден или не передаёт координаты
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Vehicle not found"

  /Coordinates/VehiclesCoordinates/{id}:
    get:
      tags: [Coordinates]
      summary: Получить координаты всех автобусов на маршруте
      description: |
        Возвращает GPS-координаты всех активных автобусов на указанном маршруте.

        ## 📍 Данные

        Возвращает массив объектов VehicleCoordinates для всех автобусов,
        которые сейчас выполняют рейс по данному маршруту (itinerary).

        ## 🗺️ Использование

        Этот эндпоинт удобен для отображения всех автобусов маршрута на карте.
        Например, показать все автобусы линии "H" одновременно.

        ## ⏱️ Polling

        - **Интервал обновления**: 60 секунд (см. `/Coordinates/GapTimeRefresh`)
        - **Рекомендация**: НЕ запрашивать чаще 60 секунд
        - **Rate limit**: Не более 1 запроса в минуту на один itineraryId

        ## 🔍 Как получить itineraryId?

        ItineraryId можно получить из:
        - `/StopsFis/{id}/{minutes}/arrivalEstimates` - поле `itineraryId`
        - `/StopsFis/{id}/itineraries` - список всех маршрутов на остановке

        ## 💡 Tip

        Если нужно отслеживать только один конкретный автобус,
        используйте `/Coordinates/VehicleCoordinates/{vehicleId}` -
        это более эффективно и экономит трафик.
      operationId: getVehiclesCoordinates
      x-polling-interval: 60
      x-rate-limit: 1 per minute per itineraryId
      parameters:
        - name: id
          in: path
          required: true
          description: ID маршрута (itineraryId из arrival estimates)
          schema:
            type: integer
            example: 3581
      responses:
        '200':
          description: Список GPS-координат всех активных автобусов на маршруте
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VehicleCoordinates'
              example:
                - vehicleId: 12345
                  latitude: 43.3622222
                  longitude: -5.8447876
                  speed: 8.33
                  bearing: 180.0
                  headingDegrees: 180.0
                  timestamp: "2024-12-16T15:30:00Z"
                - vehicleId: 12346
                  latitude: 43.3640000
                  longitude: -5.8450000
                  speed: 12.5
                  bearing: 270.0
                  headingDegrees: 270.0
                  timestamp: "2024-12-16T15:30:05Z"

  # ============ CARDS ============
  /Card/{cardSerialNumber}:
    get:
      tags: [Cards]
      summary: Получить информацию о карте
      description: Возвращает информацию о транспортной карте
      operationId: getCardInfo
      parameters:
        - name: cardSerialNumber
          in: path
          required: true
          description: Серийный номер карты
          schema:
            type: string
            example: "1234567890"
      responses:
        '200':
          description: Информация о карте
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'

  /CardToken/{idCardToken}:
    get:
      tags: [Cards]
      summary: Получить токен карты
      description: Возвращает токен для карты
      operationId: getCardToken
      parameters:
        - name: idCardToken
          in: path
          required: true
          description: ID токена карты
          schema:
            type: string
            example: "token123"
      responses:
        '200':
          description: Токен карты
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardToken'

  /UserCard/canRecharge/{nif}:
    get:
      tags: [Cards]
      summary: Проверить возможность пополнения
      description: Проверяет, может ли пользователь пополнить карту
      operationId: canRecharge
      parameters:
        - name: nif
          in: path
          required: true
          description: NIF пользователя (налоговый номер)
          schema:
            type: string
            example: "12345678A"
      responses:
        '200':
          description: Результат проверки
          content:
            application/json:
              schema:
                type: object
                properties:
                  canRecharge:
                    type: boolean
                  reason:
                    type: string

  # ============ RECHARGE ============
  /OnlineRecharge/{cardNumber}:
    get:
      tags: [Recharge]
      summary: Онлайн пополнение карты
      description: Получить информацию для онлайн пополнения
      operationId: getOnlineRecharge
      parameters:
        - name: cardNumber
          in: path
          required: true
          description: Номер карты
          schema:
            type: string
            example: "1234567890"
      responses:
        '200':
          description: Информация о пополнении
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RechargeInfo'

  /CardTokenRecharge/{cardNumber}/{idCardToken}:
    post:
      tags: [Recharge]
      summary: Пополнить карту по токену
      description: Выполнить пополнение карты используя токен
      operationId: rechargeByToken
      parameters:
        - name: cardNumber
          in: path
          required: true
          schema:
            type: string
        - name: idCardToken
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RechargeRequest'
      responses:
        '200':
          description: Результат пополнения
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RechargeResponse'

  /AutomaticRechargeConfig:
    get:
      tags: [Recharge]
      summary: Получить конфигурацию автопополнения
      operationId: getAutoRechargeConfig
      responses:
        '200':
          description: Конфигурация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoRechargeConfig'

  /AutomaticRechargeConfig/global:
    get:
      tags: [Recharge]
      summary: Глобальные настройки автопополнения
      operationId: getGlobalAutoRechargeConfig
      responses:
        '200':
          description: Глобальные настройки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoRechargeConfig'

  /AutomaticRechargeConfig/{cardNumber}:
    get:
      tags: [Recharge]
      summary: Настройки автопополнения для карты
      operationId: getCardAutoRechargeConfig
      parameters:
        - name: cardNumber
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Настройки карты
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoRechargeConfig'

  /AutomaticRechargeConfig/changeStatus/{cardNumber}:
    post:
      tags: [Recharge]
      summary: Изменить статус автопополнения
      operationId: changeAutoRechargeStatus
      parameters:
        - name: cardNumber
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
      responses:
        '200':
          description: Статус изменён

  # ============ RATES ============
  /Rates/ctaPassRates/{cardSerialNumber}:
    get:
      tags: [Rates]
      summary: Тарифы проездных
      operationId: getPassRates
      parameters:
        - name: cardSerialNumber
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Список тарифов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Rate'

  /Rates/ctaTenPassTravels/{cardSerialNumber}:
    get:
      tags: [Rates]
      summary: Поездки по 10-билетному
      operationId: getTenPassTravels
      parameters:
        - name: cardSerialNumber
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: История поездок
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Travel'

  # ============ AUTH ============
  /DoB:
    post:
      tags: [Auth]
      summary: Создать пользователя
      operationId: createUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreate'
      responses:
        '200':
          description: Пользователь создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /DoB/userData/{transactionId}:
    get:
      tags: [Auth]
      summary: Получить данные пользователя
      operationId: getUserData
      parameters:
        - name: transactionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Данные пользователя
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

# ============ COMPONENTS ============
components:
  schemas:
    Stop:
      type: object
      description: Остановка общественного транспорта
      properties:
        id:
          type: integer
          example: 3614
        name:
          type: string
          example: "[OVIEDO/UVIÉU] Adelantado de La Florida [CTA 03614]"
        longitude:
          type: number
          format: double
          example: -5.83923508289355
        latitude:
          type: number
          format: double
          example: 43.3643648798081

    StopItinerary:
      type: object
      description: Маршрут проходящий через остановку
      properties:
        id:
          type: integer
          example: 82491
        name:
          type: string
          example: "[OVIEDO/UVIÉU] Adelantado de La Florida"
        itineraryId:
          type: integer
          example: 3581
        itineraryDesc:
          type: string
          example: "H-SERRANO-PARQUE PRINCIPADO"
        directionId:
          type: integer
          example: 5958
        directionDesc:
          type: string
          example: "H2-PARQUE PRINCIPADO-SERRANO"
        lineId:
          type: integer
          example: 1970
        lineDesc:
          type: string
          example: "H"
        companyName:
          type: string
          example: "Transportes Unidos de Asturias SL"
        minutes:
          type: [integer, "null"]
          example: 5
          description: Время до прибытия в минутах (null если нет данных)
        vehicleId:
          type: integer
          example: 0
          description: ID автобуса (0 если нет данных)

    ArrivalEstimate:
      type: object
      description: Прогноз прибытия автобуса на остановку
      required:
        - id
        - lineDesc
        - vehicleId
      properties:
        id:
          type: integer
          example: 82491
        name:
          type: string
          example: "[OVIEDO/UVIÉU] Adelantado de La Florida"
        itineraryId:
          type: integer
          example: 3581
        itineraryDesc:
          type: string
          example: "H-SERRANO-PARQUE PRINCIPADO"
        directionId:
          type: integer
          example: 5958
        directionDesc:
          type: string
          example: "H2-PARQUE PRINCIPADO-SERRANO"
        lineId:
          type: integer
          example: 1970
        lineDesc:
          type: string
          example: "H"
        companyName:
          type: string
          example: "Transportes Unidos de Asturias SL"
        minutes:
          type: [integer, "null"]
          description: Время до прибытия в минутах (null если нет прогноза)
          example: 5
        vehicleId:
          type: integer
          description: ID автобуса для получения GPS-координат (0 если нет данных)
          example: 12345

    VehicleCoordinates:
      type: object
      description: |
        GPS-координаты автобуса в реальном времени с полной телеметрией.

        Обновляется каждые 60 секунд (см. /Coordinates/GapTimeRefresh).

        Структура получена путём реверс-инжиниринга официального приложения CTA Usuario.
      required:
        - vehicleId
        - latitude
        - longitude
      properties:
        vehicleId:
          type: integer
          description: Уникальный идентификатор автобуса
          example: 12345
        latitude:
          type: number
          format: double
          description: Широта в формате WGS84
          minimum: -90
          maximum: 90
          example: 43.3622222
        longitude:
          type: number
          format: double
          description: Долгота в формате WGS84
          minimum: -180
          maximum: 180
          example: -5.8447876
        timestamp:
          type: string
          format: date-time
          description: Время фиксации координат (ISO 8601)
          example: "2024-12-16T15:30:00Z"
        speed:
          type: number
          format: float
          description: |
            Скорость движения автобуса в метрах в секунду.

            Для конвертации в км/ч: speed * 3.6
          minimum: 0
          example: 8.33
        bearing:
          type: number
          format: float
          description: |
            Направление движения относительно севера (азимут) в градусах.

            - 0° = Север
            - 90° = Восток
            - 180° = Юг
            - 270° = Запад
          minimum: 0
          maximum: 360
          example: 180.0
        headingDegrees:
          type: number
          format: float
          description: |
            Курс автобуса (направление, куда повёрнут нос) в градусах.

            Может отличаться от bearing при боковом ветре или заносе.
          minimum: 0
          maximum: 360
          example: 180.0
        speedAccuracyMetersPerSecond:
          type: [number, "null"]
          format: float
          description: |
            Точность измерения скорости в м/с.

            Например, если speed=8.33 и speedAccuracy=0.5,
            то реальная скорость находится в диапазоне 7.83-8.83 м/с.
          minimum: 0
          example: 0.5
        bearingAccuracyDegrees:
          type: [number, "null"]
          format: float
          description: |
            Точность измерения направления движения в градусах.

            Диапазон погрешности: ±bearingAccuracy градусов.
          minimum: 0
          maximum: 180
          example: 15.0
        headingErrorDegrees:
          type: [number, "null"]
          format: float
          description: |
            Погрешность измерения курса автобуса в градусах.

            Используется для отображения зоны неопределённости на карте.
          minimum: 0
          maximum: 180
          example: 10.0

    ItineraryStop:
      type: object
      description: Остановка на маршруте
      properties:
        stopId:
          type: integer
        stopName:
          type: string
        order:
          type: integer
          description: Порядковый номер остановки на маршруте
        distanceFromStart:
          type: number
          description: Расстояние от начала маршрута в метрах

    Timetable:
      type: object
      description: Расписание
      properties:
        time:
          type: string
          format: time
          example: "08:30"
        stopId:
          type: integer
        stopName:
          type: string

    Card:
      type: object
      description: Транспортная карта
      properties:
        cardSerialNumber:
          type: string
        cardType:
          type: string
        balance:
          type: number
          format: float
        expiryDate:
          type: string
          format: date

    CardToken:
      type: object
      properties:
        idCardToken:
          type: string
        token:
          type: string
        expiresAt:
          type: string
          format: date-time

    RechargeInfo:
      type: object
      properties:
        cardNumber:
          type: string
        availableAmounts:
          type: array
          items:
            type: number
        paymentMethods:
          type: array
          items:
            type: string

    RechargeRequest:
      type: object
      required:
        - amount
      properties:
        amount:
          type: number
          format: float
          example: 10.00
        paymentMethod:
          type: string
          example: "credit_card"

    RechargeResponse:
      type: object
      properties:
        success:
          type: boolean
        transactionId:
          type: string
        newBalance:
          type: number
          format: float

    AutoRechargeConfig:
      type: object
      properties:
        enabled:
          type: boolean
        threshold:
          type: number
          description: Порог баланса для автопополнения
        amount:
          type: number
          description: Сумма автопополнения

    Rate:
      type: object
      properties:
        rateId:
          type: integer
        name:
          type: string
        price:
          type: number
          format: float
        validityDays:
          type: integer

    Travel:
      type: object
      properties:
        date:
          type: string
          format: date-time
        line:
          type: string
        stopFrom:
          type: string
        stopTo:
          type: string
        fare:
          type: number
          format: float

    User:
      type: object
      properties:
        userId:
          type: string
        email:
          type: string
        name:
          type: string
        nif:
          type: string

    UserCreate:
      type: object
      required:
        - email
        - name
        - nif
      properties:
        email:
          type: string
          format: email
        name:
          type: string
        nif:
          type: string
        dateOfBirth:
          type: string
          format: date

# ============ EXTERNAL DOCUMENTATION ============
externalDocs:
  description: |
    📚 Полная документация CTA API

    Дополнительные материалы:
    - **CTA_README.md** - Основная документация и быстрый старт
    - **POLLING_INTERVALS.md** - Детальный анализ частоты обновлений
    - **API_PARSING_ANALYSIS.md** - Как приложение парсит JSON
    - **get_vehicle_ids.py** - Скрипт для поиска активных автобусов
    - **view-swagger.html** - Интерактивный просмотр API

    Исходные файлы:
    - APK: com.iecisa.ctausuario.apk
    - Версия: 1.0.0
    - Дата реверс-инжиниринга: 16 декабря 2024

    Технологии из APK:
    - HTTP: OkHttp + Firebase Performance
    - JSON: Gson с @SerializedName
    - Фон: WorkManager (Android)
  url: https://github.com/

# ============ METADATA ============
x-api-metadata:
  source: Reverse engineered from com.iecisa.ctausuario.apk
  analysis-date: 2024-12-16
  technologies:
    http-client: OkHttp
    json-parser: Gson
    performance: Firebase Performance Monitoring
    background-jobs: WorkManager (Android)
  polling-intervals:
    gps-coordinates: 60s
    arrival-estimates-far: 60s
    arrival-estimates-medium: 30s
    arrival-estimates-close: 15s
    static-data: on-demand
  rate-limits:
    gps-per-vehicle: 1 req/min
    arrival-per-stop: 4 req/min (dynamic)
    parallel-requests: 5 max
    global: 60 req/min (recommended)
